//vibrant background colors used throughout design and applied as linear gradient:

$magentaLight: hsl(293, 100%, 63%);
$violetLight: hsl(264, 100%, 61%);

$violetPale: hsl(276, 100%, 81%);
$paragraphViolet: hsl(270, 7%, 64%);