*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

body, main, .content-wrap {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}

.bg-shape {
  position: absolute;
  left: -100px;
  top: 0;
  width: 35%;
  height: 90%;
  background: linear-gradient(45deg, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  border-radius: 0 0 100vw 100vw;
  z-index: -1;
}
.bg-shape.bg-shape--bg {
  left: auto;
  top: auto;
  right: -100px;
  bottom: 0;
  border-radius: 100vw 100vw 0 0;
  background: hsl(270deg, 20%, 96%);
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.phone-mockup {
  background: #fff;
  height: 500px;
  width: 280px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 15px 15px 20px;
          box-shadow: rgba(0, 0, 0, 0.25) 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.phone-mockup .phone-interior {
  background: hsl(270deg, 20%, 96%);
  width: 93%;
  height: 95%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.phone-mockup .phone-interior::after {
  content: "";
  display: block;
  background: #fff;
  width: 60%;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
}
.phone-mockup .phone-interior-top {
  background: -webkit-gradient(linear, left top, right top, from(hsl(264deg, 100%, 61%)), to(hsl(293deg, 100%, 63%)));
  background: linear-gradient(to right, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  height: 70px;
  width: 100%;
}

.text-wrap {
  width: 50%;
}
.text-wrap h1 {
  color: hsl(271deg, 36%, 24%);
  font-weight: 500;
  font-size: 2.6rem;
}
.text-wrap p {
  color: hsl(270deg, 7%, 64%);
  line-height: 2;
}